<h1>Edit Comment</h1>
<%= render "form" %>

<%= link_to "Back", article_comments_path(@article, @comment) %>


<% 
# if "form_with model: [ @article ] do |form|" no comment data
# if "form_with model: [ @comment ] do |form| " helper path not established comment_path only not articel_comment_path
%>
