<div class="w-full mx-auto">
  <%= render "home" %>
  <h3 class="mt-2 text-3xl font-bold">Edit Article</h3>
  <%= link_to "⟵ Back to article", article_path(@article), class: "back" %>
  <div class="w-full mx-auto mt-4 mb-8">
    <%= render "form", article: @article %>
  </div>
</div>
