<div class="w-full mx-auto">
  <%= render "home" %>
  
  <h3 class="mt-2 mb-6 text-3xl font-bold">New Article</h3>
  
  <div class="w-full mx-auto">
    <%= render "form", article: @article %>
  </div>
</div>
